<!DOCTYPE html>
<html>
<head xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <meta name="_csrf" th:if="${_csrf != null}" th:attr="content=${_csrf.token}"/>
    <meta name="_csrf_header" th:if="${_csrf != null}" th:attr="content=${_csrf.headerName}"/>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
    <base href="/">

</head>
<body>
<div class="header width-100">
    <div class="navigation-container">
        <div th:replace="~{#{navigation}}"></div>
    </div>
</div>
<div class="width-100">
        <div class="content">
            <div layout:fragment="content"></div>
    </div>
</div>
</body>
</html>